---
layout: default
---

<div class="home">

	<h1 class="page-heading">Posts</h1>

	<ul class="post-list">

		{% for post in site.posts %}
		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
		</li>
		{% endfor %}

	</ul>

	<h1 class="page-heading">Tutorials</h1>

	{% for tutorial in site.tutorials %}
	<ul class="post-list">
		<li>
			<h2>
				<a class="post-link" href="{{ tutorial.url | prepend: site.baseurl }}">{{ tutorial.title }} | {{ tutorial.testertext }}</a>
			</h2>
		</li>
	</ul>
	{% endfor %}
	
	<h1 class="page-heading">Movies</h1>

	{% for item in site.movies %}
	<ul class="post-list">
		<li>
			<h2><a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></h2>
			<br/>
			{% for review in site.movie-reviews %}
			{% if review.rel-movie-id == item.id %}
			<a href="{{ review.url | prepend: site.baseurl }}">{{ item.titlepre }}{{ review.title }}</a>
			{% endif %}
			{% endfor %}
		</li>
		
	</ul>
	{% endfor %}

	<h1 class="page-heading">Movie Reviews</h1>

	{% for item in site.movie-reviews %}
	<ul class="post-list">
		<li>
			<h2>
				<a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.titlepre }}{{ item.title }}</a>
			</h2>
		</li>
	</ul>
	{% endfor %}

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>