---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.titlepre }}{{ page.title }} (entry.html layout)</h1>
  </header>

  <article class="post-content">
  
    {{ content }}
	
	{% for item in site.movies %}
	
		{% if item.id == page.rel-movie-id %}
	
		<h2>Related Movie</h2>
		
		<p>Looking for movie with id: {{ page.rel-movie-id }}</p>
		
		<p>{{ item.title }} <a href="{{ item.url | prepend: site.baseurl }}">Link</a></p>
	
		{% endif %}
	
	{% endfor %}
	
	{% if page.rel-author-id %}
		{% for i in site.authors %}
		
			{% if i.id == page.rel-author-id %}
		
			<h2>Author</h2>
			
			<p>Looking for author with id: {{ page.rel-author-id }}</p>
			
			<p>{{ i.title }} <a href="{{ i.url | prepend: site.baseurl }}">Link</a></p>
		
			{% endif %}
		
		{% endfor %}
	{% endif %}
	
  </article>

</div>
